* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
header{
  top: 0;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
div.logo{
  margin-left: 5%;
}
div.logo img{
  width: 80px;
}
nav ul{
  display: flex;
  
}
li{
  margin: 0 20px;
}
header li a{
  font-size: 20px;
  padding: 10px 5px;
  border-radius: 15px;
}
div.menue{
  /* top: 0; */
  width: 20px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}
div.dropdown li{
  margin: 25px 0;
}
div.dropdown div.menue{
  width: 100%;
  text-align: right;
  border: none;
  color: black;
}
div.dropdown{
  top: 0;
  position: absolute;
  padding: 100px;
  text-align: center;
  width: 100%;
  background-color:#fff;
  /* position: absolute; */
  color: white;
  height: 100vh;
  position: fixed;
  justify-content: center;
  align-items: center;
}
.open-Dropdown{
  display: none;
}
@media screen and (max-width:700px){
  nav{
      display: none;
  }
  div.menue{
      display: block;
  }
}
